:root {
    --primary: #77a6e7;
    --primary-darker: #4f6fc7;
    --primary-lighter: #b4dbfa;
    --secondary: #eba7ea;
    --secondary-darker: #94448b;
    --secondary-lighter: #e7b0eb;
    --primary-text-color: #313131;
    --secondary-text-color: #f7f7f7;
    --notice-color: #e66a6a;
}

* { 
    box-sizing: border-box; 
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.3;
    flex-direction: column;
    color: var(--primary-text-color);
    background-color: var(--primary);
    margin: 15 auto;
    max-width: 1100px;
    padding: 20px 20px;
}

header{
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    background: var(primary);
    backdrop-filter: blur(6px);
    border-bottom: 1px dotted white;
    z-index: 999;
    display: block;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

header h1 {
    text-align: center;
}


.trait-name {
    font-weight: bold;
    color: var(--secondary-darker);
    display: inline;
}

#introduction, #character-analysis, #input-test, #big-5-test {
    background: var(--primary-lighter); 
    border-radius: 15px;
    padding: 20px;
    color: var(--primary-text-color);
    box-shadow: 0 8px 19px var(--primary-darker);
}

#big-5-test #big-5-form #big-5-items li {
    font-size: 15px;
    border-radius: 7px;
}


#big-5-test #big-5-form #big-5-items .scale {
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 0.5rem;
}

#big-5-test #big-5-form #big-5-items label {
text-align: center;
}


header nav {
    max-width: 1000px; 
    color: var(--primary-darker);
    margin: 0 auto; 
    justify-content: center;
    padding: 15px 15px;
}

.nav {
    display: flex; 
    gap: 50px;
    list-style: none; 
    margin: 0; 
    padding: 0;
}
.nav a {

    text-decoration: none; 
    padding: 15px 15px; 
    border-radius: 21px;
}
.nav a:hover, .nav a:focus-visible {
    outline: none;
    background: rgba(34, 91, 129, 0.3);
}

main {
    max-width: 1200px;
    margin: 15 auto;
    padding: 0px;
    display: grid;
    gap: 65px;
    padding-top: 100px;
}

a {
    color: var(--secondary);
}

a:hover{
    color: var(--secondary-lighter);
}

a:visited {
    color: var(--secondary-darker);
}

form {
    background: var(--secondary-lighter); 
    border-radius: 13px;
    padding: 15px;
    box-shadow: 0 8px 19px var(--secondary-darker);
}

label {
    margin-bottom: 13px;
    font-weight: bold;
    color: var(--primary-text-color);
}


#big-5-results, #input-results, #character-analysis-results {
    margin: 21px; 
    padding: 17px;
    border:5px dotted; 
    border-radius: 21px; 
    color: var(--secondary-text-color);
    background: var(--secondary-darker);
}

button {
    color:var(--secondary-text-color);
    background-color: var(--secondary-darker);
    margin: 10px;
    padding: 17px;
    border-radius: 20px;
    size: 1rem;
}

button:hover {
    color:var(--primary-text-color);
    background-color: var(--secondary);
}

input, textarea {
    width: 95%;
    padding: 0.75rem;
    border: 3px solid var(--secondary);
    border-radius: 15px;
    transition: border-color 0.5s ease;
    font-size: 1.2rem;
    font-family: inherit;
}

input:focus, textarea:focus {
    border-color: var(--secondary-darker);
    box-shadow: 0 0 0 3px var(--primary-darker);
    font-family: inherit;
}

#user-response-text {
    width: 95%;
    height: 200px;
    resize: vertical;
    font-family: inherit;
}